* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}
body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
  font: 400 1rem "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
[disabled] {
  opacity: 0.6;
  cursor: now-allowed;
}

// $primary: #456cab;
// $secondary: #52422e;
// $success: #342a1d;
// $info: #2b2217;
// $warning: #dc6300;
// $danger: #ff007f;
// $light: #ffeeda;
// $dark: #211a12;
// $muted: #c8a97f;
// $white: #ffffff;
// $warning-secondary: #bf5601;

$primary: #10204d;
$secondary: #4765a4;
$success: #189c5c;
$info: #3ebfe2;
$warning: #dfc919;
$danger: #ed1d0b;
$light: #c7d5e1;
$dark: #0e0a0c;
$muted: #dbc5a6;
$white: #ffffff;
$warning-secondary: #bf5601;

$fontWeights: (
  100,
  200,
  300,
  400,
  500,
  600,
  700,
  800
);

@each $weight in $fontWeights {
  .font-weight-#{$weight} {
    font-weight: $weight
  }
}

// @import "bootstrap";
// @import "./fonts";
// @import "./bs-imports";
// @import "./custom";
// @import "bootstrap";
@import "./fonts";
@import "./bs-imports";
@import "./custom";